<h2>Nieuw recept toevoegen</h2>
    <div>
        <label for="patientBSN">Patiënt BSN: </label>
        <input type="number" [(ngModel)]=recept.patientBSN placeholder="BSN nummer"/>
    </div>
    <div>
        <label for="voorschrijfdatum">Voorschrijfdatum: </label>
        <input id="voorschrijfdatum" type="date" [(ngModel)]=recept.voorschriftdatum placeholder="voorschrijfdatum"/>
    </div>
    
    <div>
        <label for="aflevermethode">Aflevermethode: </label>
        <select id="aflevermethode" name="aflevermethode" [(ngModel)]=recept.aflevermethode>
            <option *ngFor="let optie of afleverOpties" [ngValue]=optie>{{optie.aflevermethode}}</option>
        </select>
        {{recept.aflevermethode.aflevermethode}}
    </div>

    <div>
        <label for="einddatum">Einddatum: </label>
        <input type="date" [(ngModel)]=recept.einddatum placeholder="einddatum"/>
    </div>
    <div>
        <label for="voorschrijver">Voorgeschreven door: </label>
        <input type="text" [(ngModel)]=recept.voorschrijver placeholder="voorschrijver"/>
    </div>
    <span>Medicijnen: </span>
    <ul>
    <li *ngFor="let receptregel of recept.receptregels">
        <div>{{receptregel.medicijnverpakking.medicijn.naam}} {{receptregel.medicijnverpakking.medicijn.vorm.medicijnvorm}} {{receptregel.medicijnverpakking.medicijn.sterkte}}</div>
        <div><span>Aantal: </span> {{receptregel.medicijnverpakking.aantalVanEenheid}} {{receptregel.medicijnverpakking.eenheid.verpakkingseenheid}}, {{receptregel.medicijnverpakking.aantalPerEenheid}} {{receptregel.medicijnverpakking.eenheid.labelAantalPerEenheid}}</div>
        <div><span>Gebruiksvoorschrift: </span> {{receptregel.gebruiksvoorschrift}}</div>
    </li>
    </ul>

    <div>
        <label for="medicijnToevoegen">Medicijn toevoegen: </label>
        <select id="medicijnToevoegen" name="aflevermethode" [(ngModel)]=medicijnToevoegen>
            <option *ngFor="let optie of medicijnOpties" [ngValue]=optie>{{optie.medicijn.naam}} {{optie.medicijn.vorm.medicijnvorm}} {{optie.medicijn.sterkte}}</option>
        </select>
        <div *ngIf="medicijnToevoegen">
        <span>Details: </span>
        <div><span>Aantal: </span> {{medicijnToevoegen.aantalVanEenheid}} {{medicijnToevoegen.eenheid.verpakkingseenheid}}, {{medicijnToevoegen.aantalPerEenheid}} {{medicijnToevoegen.eenheid.labelAantalPerEenheid}}</div>
        <div><label for="gebruiksvoorschrift">Gebruiksvoorschrift: </label><input type="text" [(ngModel)]=toevoegenGebruiksvoorschrift /> </div>
        <button (click)="regelToevoegen()">Medicijn toevoegen</button>
        </div>
    </div>
    <button (click)="receptToevoegen()">Recept opslaan</button>

