<div *ngIf="recept">
    <h2>Recept Details</h2>
    <div><span>Patiënt BSN: </span>{{recept.patientBSN}}</div>
    <div><span>Voorschrijfdatum: </span>{{recept.voorschriftdatum}}</div>
    
    <div><span>Aflevermethode: </span>{{recept.aflevermethode.aflevermethode}}</div>
    <div><span>Einddatum: </span>{{recept.einddatum}}</div>
    <div><span>Voorgeschreven door: </span>{{recept.voorschrijver}}</div>
    <ul>
    <li *ngFor="let receptregel of recept.receptregels">
        <div>{{receptregel.medicijnverpakking.medicijn.naam}} {{receptregel.medicijnverpakking.medicijn.vorm.medicijnvorm}} {{receptregel.medicijnverpakking.medicijn.sterkte}}</div>
        <div><span>Aantal: </span> {{receptregel.medicijnverpakking.aantalVanEenheid}} {{receptregel.medicijnverpakking.eenheid.verpakkingseenheid}}, {{receptregel.medicijnverpakking.aantalPerEenheid}} {{receptregel.medicijnverpakking.eenheid.labelAantalPerEenheid}}</div>
        <div><span>Gebruiksvoorschrift: </span> {{receptregel.gebruiksvoorschrift}}</div>
    </li>
  </ul>
  </div>
  <button (click)="goBack()">go back</button>
