<h2>Uitgegeven recepten</h2>
<ul class="recepten">
    <li *ngFor="let recept of recepten">
        <a routerLink="/recept/{{recept.id}}">
            <span>Patiënt BSN: </span>{{recept.patientBSN}}
            <span>Voorgeschreven: </span>{{recept.voorschriftdatum}}
            <span>Door: </span>{{recept.voorschrijver}}
        </a>
  </li>
</ul>